{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
    {% include 'head.html' with titulo2=' Lista de arquivos ' %}
{% endblock %}

{% block content %}


    <div class="card-header card-header-primary">
        <h4 class="card-title">Listagens de arquivos</h4>
    </div>

    <div class="card-body">


        <hr>

        <table class="table">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Nome</th>
            </tr>
            </thead>
            <tbody>
            {% for arquivo in arquivo_list %}

                <tr>

                    <td class="text-center">
                        <a href="{% url 'arquivo-detail' arquivo.id %}">
                            {{ arquivo.id }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'arquivo-detail' arquivo.id %}">
                            {{ arquivo.nome }}
                        </a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock %}