{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
    {% include 'head.html' with titulo2=' Página principal ' %}
{% endblock %}

{% block content %}

    <div class="card-header card-header-primary">
        <h4 class="card-title">Selecione uma opção</h4>
        <!-- p class="card-category">Complete your profile</p -->
    </div>
    <div class="card-body">
        <div class="row">
            <a href="{% url 'arquivo-create' %}" class="btn btn-block btn-round btn-secondary btn-lg pull-right">
                Subir arquivos
            </a>
        </div>
        <div class="row">
            <a href="{% url 'arquivo-list' %}" class="btn btn-block btn-secondary btn-round btn-lg pull-right ">
                Listar arquivos
            </a>
            <div class="clearfix"></div>

        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
